.nav-link{display:inline !important;float:right !important}
nav img{width:auto;height: 1.5em;}
@media only screen and (min-width:900px) {
    div img{width:auto;height:25em;}  
}
strong{color:green;font-weight: normal;}
.navtext{float:left !important;color:rgb(25, 0, 255) !important;}
body{background-image: url("imgs/d.jpg"); background-repeat:no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
.text{margin-top:2em !important;} 
.img-card{width:5em;height:10em !important;}
