.nav-link{display:inline !important;float:right !important}
nav img{width:auto;height: 1.5em;}
@media only screen and (min-width:900px) {
    div img{width:auto;height:25em;}  
}
div{margin-top:5em !important;}
strong{color:green;font-weight: normal;}
.navtext{float:left !important;color:rgb(25, 0, 255) !important;}
body{background-image: url("imgs/d.jpg"); background-repeat:no-repeat;}
